In [7]:
import pandas as pd
from sqlalchemy import create_engine

In [8]:
df = pd.read_csv('./taxi+_zone_lookup.csv')

In [10]:
engine = create_engine('postgresql://root:toor@localhost:5432/ny_taxi')

In [18]:
engine.connect()

In [ ]:
print(pd.io.sql.get_schema(df, name='dim_taxi_zone', con=engine))

In [13]:
df.head(n=0).to_sql(name='dim_taxi_zone', con=engine, if_exists='replace')

CREATE TABLE dim_taxi_zone (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [16]:
%time df.to_sql(name='dim_taxi_zone', con=engine, if_exists='append')

In [19]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone