In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.3.4'

In [8]:
df = pd.read_parquet('./yellow_tripdata_2021-01.parquet')

In [37]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [38]:
df.count()

VendorID                 1369769
tpep_pickup_datetime     1369769
tpep_dropoff_datetime    1369769
passenger_count          1271417
trip_distance            1369769
RatecodeID               1271417
store_and_fwd_flag       1271417
PULocationID             1369769
DOLocationID             1369769
payment_type             1369769
fare_amount              1369769
extra                    1369769
mta_tax                  1369769
tip_amount               1369769
tolls_amount             1369769
improvement_surcharge    1369769
total_amount             1369769
congestion_surcharge     1271417
airport_fee                    5
dtype: int64

In [18]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [20]:
from sqlalchemy import create_engine

In [24]:
engine = create_engine('postgresql://root:toor@localhost:5432/ny_taxi')

In [25]:
engine.connect()

In [26]:
#print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [50]:
import pyarrow.parquet as pq
from time import time
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:toor@localhost:5432/ny_taxi')
engine.connect()

t_start = time()

parquet_file = pq.ParquetFile('./yellow_tripdata_2021-01.parquet')
for indx, batch in enumerate(parquet_file.iter_batches(batch_size=10000)):
    batch_df = batch.to_pandas()
    batch_df.tpep_pickup_datetime = pd.to_datetime(batch_df.tpep_pickup_datetime)
    batch_df.tpep_dropoff_datetime = pd.to_datetime(batch_df.tpep_dropoff_datetime)
    
    if indx == 0:
        batch_df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')
        batch_df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    else:
        batch_df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
t_end = time()
print('Sussecfully inserted, took %.3f' % (t_end - t_start))

Sussecfully inserted, took 101.125